@{
    ViewData["Title"] = "VPVASP";
}
<h1>@ViewData["Title"]</h1>

<p>This ASP.NET Core Project was developed only for self improvement. I don't own any of the images or Fide Candidates images or info,everything comes from the FIDE CANDIDATES All Rights are Reserved to them.</p>
<p>About Me: I'm Vasilis a passionate Software, Games, and Web Developer based in Athens, Greece.I'm also a third-year Computer Programming and Game Development student at SAE Institute Athens. </p>
<h3>Get in touch:</h3>
<p>
    <a href="https://www.linkedin.com/in/vasilhs-pinis/" target="blank"><img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="linkedin" height="30" width="40" /></a>
    <a href="https://github.com/VPVasP" target="blank"><img src="https://cdn.worldvectorlogo.com/logos/github-icon-2.svg" alt="GitHub" height="30" width="40" /></a>
    <a href="https://twitter.com/VPVasP" target="blank"><img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/twitter.svg" alt="twitter" height="30" width="40" /></a>
    <a href="https://itchiovp.itch.io/" target="blank"><img src="https://cdn2.steamgriddb.com/icon_thumb/8b33ab221257b074d1d967042ad1d9d0.png" alt="itch.io" height="30" width="40" /></a>
    <a href="mailto:vasilhspinis@gmail.com" target="_blank"><img src="https://www.svgrepo.com/show/303161/gmail-icon-logo.svg" alt="email" height="30" width="40" /></a>

</p>

